:host {
  display: block;
}

/* ============================================================== */
/* ESTILOS DEL FLYER PROMOCIONAL                                  */
/* ============================================================== */
.promo-banner-container {
  width: 100%;
  margin: 0;
  margin-top: calc(var(--header-height) - 2px); /* Se ajusta exactamente debajo del header */
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo-banner-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

/* Ajustes para celulares */
@media (max-width: 768px) {
  .promo-banner-container {
    padding: 0;
  }
  .promo-banner-img {
    height: auto;
  }
}
/* ============================================================== */
